# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf

# Precompiled Headers
*.gch
*.pch
*.sdf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.sdf

# Fortran module files
*.mod
*.sdf

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sdf

# Executables
*.exe
*.out
*.app
*.sdf

Resources/
backup_20150210/
proj.blackberry/
proj.linux/
proj.mac/
proj.marmalade/
proj.tizen/
proj.win32/
proj.winrt/
proj.wp8-xaml/
proj.ios/
proj.wp8/
proj.android/
Debug.win32/
ipch/